/*____________ font  ________________ */
* {
    font-family: sans-serif;
    font-size: 11px;
}
th {
    cursor: pointer;
    background-color: #9AFF9A;   /* Green */
}

/*_____________ textarea _______________ */
textarea {
    overflow-y:scroll;
    overflow-x:scroll;
}

